name: "Build scraper"
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Install Nix
      uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"
    - name: Cache on Cachix
      uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
      with:
        name: flake-programs-sqlite
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Cache build result on GitHub
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: updater.bundle
        key: ${{ runner.os }}-bundle-${{ hashFiles('**/flake.lock') }}-${{ hashFiles('**/*.nix') }}-${{ hashFiles('**/*.nim*') }}

    - name: Build and Bundle
      run: |
           nix build .#updater
           nix bundle --bundler github:NixOS/bundlers?rev=dce9249b74500ef75110153e6da455ffec2532ba#toArx -o updater.bundle.lnk .#packages.x86_64-linux.updater && cp $(readlink updater.bundle.lnk) updater.bundle && chmod u+w updater.bundle

    - name: Smoke test
      run: |
           echo {} > ${{ runner.temp }}/sources.json
           echo {} > ${{ runner.temp }}/latest.json
           nix run .#updater -- --dir:${{ runner.temp }} --channel:https://releases.nixos.org/nixos/20.03/nixos-20.03.2400.ff1b66eaea4
           cat ${{ runner.temp }}/sources.json
           [ `nix eval --impure nixpkgs#lib.importJSON --apply "x : (x ${{ runner.temp }}/sources.json).ff1b66eaea4399d297abda7419a330239842d715.programs_sqlite_hash"` = '"6097c544f012fc21f8cff9a6305ebab335d148e6385d7288a612e10c3cc82df0"' ]

    - name: Integration test
      run: nix build --override-input nixpkgs "github:NixOS/nixpkgs?rev=cad22e7d996aea55ecab064e84834289143e44a0" .#checks.x86_64-linux.vmtest
