name: "Build scraper"
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v18
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v11
      with:
        name: flake-programs-sqlite
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: cache build result
      uses: actions/cache@v3
      with:
        path: updater.bundle
        key: ${{ runner.os }}-bundle-${{ hashFiles('**/flake.lock') }}-${{ hashFiles('**/*.nix') }}-${{ hashFiles('**/*.nim*') }}

    - run: nix build .#updater
    - run: nix bundle -o updater.bundle.lnk .#updater && cp $(readlink updater.bundle.lnk) updater.bundle && chmod u+w updater.bundle
