name: "Update Channel Info"

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true  # required for pushing

      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: fetch from cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: updater.bundle
          key: ${{ runner.os }}-bundle-${{ hashFiles('**/flake.lock') }}-${{ hashFiles('**/*.nix') }}-${{ hashFiles('**/*.nim*') }}

      - name: enable userns so the bundle can use unshare()
        run: |
          sudo sysctl -w kernel.unprivileged_userns_clone=1
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0

      - name: update JSON
        run: ./updater.bundle -d:$PWD

      - name: create commit
        run: |
          rm ./updater.bundle
          git commit -a -m "update sources.json" || true

      - name: Push commit with updated inputs
        run: |
          git pull --rebase --autostash
          git push
